<app-navbar-candidate></app-navbar-candidate>
<div class="container" style="background-color: #E6E5EA; margin-top: 200px;" >
    <div class="main-body">
       
        <table class="table items-center" style="width: 900px; margin-left: 130px; margin-right: 150px;">
            <thead>
              <tr style="color: rgb(67, 67, 241) ;">
                <th scope="col">#</th>
                <th scope="col">Offre d'emploi</th>
                <th scope="col">Date_Postulation</th>
                <th scope="col">Etat</th>
                <th scope="col">Date entretien d'embauche</th>
                <th>Offre</th>
              </tr>
            </thead>
            <tbody>
             
              
              <tr *ngFor="let candidature of mesCandidatures; let i=index">
                <th scope="row"></th>
                <td>{{candidature.jobOffer.name}}</td>
                <td>{{candidature.candidatureDate}}</td>
                <td>{{candidature.status.name}}</td>
                <td >{{candidature.jobInterviewDate}}</td>
                <td>
                    <button class="btv" data-bs-toggle="modal" data-bs-target="#viewModal" (click)="test(candidature.jobOffer)"><i class="fas fa-eye" style="color: #6366F1;"></i></button>            
                </td>     
                     </tr>
              <tr *ngFor="let candidature of mesCandidatureSponts; let i=index">
                <th scope="row"></th>
                <td>Candidature Spontanée</td>
                <td>{{candidature.candidatureDate}}</td>
                <td>{{candidature.status.name}}</td>
                <td >{{candidature.jobInterviewDate}}</td>
                <td></td>
              </tr>

             
            </tbody>
          </table>
       
        
    </div>
</div>

  <!--view Modal -->
  <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="page-wrapper bg-dark p-t-100 p-b-50">
                <div class="wrapper wrapper--w900">
                    <div class="card card-6">
                        <div class="card-heading">
                            <h2 class="title" style="color: aliceblue; text-align: center; font-size: 26px;">{{t.name}}</h2>
                        </div>
                        <div class="card-body">                          
                            <form class="vueoffre">                               
                                <div class="form-row">
                                    <div class="col-md-3 t">Domaine</div>
                                    <div class="col-md-3">
                                        <select class="form-control" name="domainId" [(ngModel)]="t.domainId" disabled>
                                            <option *ngFor="let Domaine of Domaines" value="{{Domaine.id}}" >{{Domaine.name}}</option>                                            
                                        </select>
                                    </div>
                                    </div>
                                    <div class="form-row">
                                    <div class="col-md-3 t">Expérience</div>
                                    <div class="col-md-3">
                                        <select class="form-control" name="experienceId" [(ngModel)]="t.experienceId" disabled>
                                            <option *ngFor="let Experience of Experiences" value="{{Experience.id}}" >{{Experience.name}}</option>                                            
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-md-3 t">Diplome</div>
                                    <div class="col-md-6">
                                        <select class="form-control" name="diplomaId" [(ngModel)]="t.diplomaId" disabled>
                                            <option *ngFor="let Diplome of Diplomes" value="{{Diplome.id}}">{{Diplome.name}}</option>                                            
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-md-3 t">Pays</div>
                                    <div class="col-md-3">
                                        <select class="form-control" name="countryId"  [(ngModel)]="t.countryId" disabled>
                                            <option *ngFor="let Countrie of Countries" value="{{Countrie.id}}">{{Countrie.name}}</option>                                            
                                        </select>
                                    </div>
                                
                                    <div class="col-md-4 t">Type de Contrat</div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="contratId" [(ngModel)]="t.contratTypeId" disabled>
                                            <option *ngFor="let Contrat of Contrats" value="{{Contrat.id}}">{{Contrat.name}}</option>                                            
                                        </select>
                                    </div>
                                </div>  
                                <hr>                             
                                
                                <div class="row" style="width: 350px;">
                                    <div class="col-md-4 t">Description</div>
                                    <div class="col-md-8">
                                        <textarea name="description" [(ngModel)]="t.description" cols="36" rows="5" disabled style="border: none; background-color: white;"></textarea>                                       
                                                                      
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-md-4 t">Salaire minimum</div>
                                    <div class="col-md-2">
                                        {{t.minSalary}}
                                    </div>
                                
                                    <div class="col-md-4 t">Salaire maximum</div>
                                    <div class="col-md-2">
                                        {{t.maxSalary}}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-md-6 t">Date de publication</div>
                                    <div class="col-md-6">
                                       {{t.publicationDate}}
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row">
                                    <div class="col-md-6 t">Date d'expiration</div>
                                    <div class="col-md-6">
                                       {{t.expirationDate}}
                                    </div>
                                </div>                                    
                            </form>    
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div> 
                       
