<div>
    <app-sidebar-admin></app-sidebar-admin>
    <div class="relative md:ml-64 bg-blueGray-100">
        <app-admin-navbar></app-admin-navbar>
        <app-admin-header></app-admin-header>

        <!--<app-offre-candidatures [idOffre]=1></app-offre-candidatures>-->
        <div class="px-4 md:px-10 mx-auto w-full -m-24">
            <div class="flex flex-wrap cm">
                <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">                                                
               <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
                 <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                  <div class="rounded-t mb-0 px-4 py-3 border-0">
                 <div class="flex flex-wrap items-center">
                <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                 <h3 class="font-semibold text-base text-blueGray-700">Liste des offres</h3>
                </div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <button
                      class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                      type="button" data-bs-toggle="modal" data-bs-target="#addModal" >
                      Ajouter
                    </button>
                  </div>
                </div>
            </div>
            <div class="block w-full overflow-x-auto">
                <!-- Projects table -->
                <table  id="table_id" class="items-center w-full bg-transparent border-collapse">
                <thead>
                    <tr>
                    <th
                        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                        Reference
                    </th>
                    <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Titre
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Date_Expiration
            </th>
            <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Date de publication
            </th >
            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                --
            </th>
            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Candidatures
            </th>
            </tr>
        </thead>
        <tbody>
                                                        
                <tr *ngFor="let offre of offres; let i=index ">
                <th
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                    {{offre.reference}}
                </th>
                <th
                    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                    {{offre.name}}
                </th>
                
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    {{offre.expirationDate}}
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    {{offre.publicationDate}}        
                </td>
                <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                    <span> <a><button data-bs-toggle="modal" data-bs-target="#viewModal" (click)="test(offre)"><i class="fas fa-eye" style="color: #18ac71;"></i></button></a> &nbsp;
                        <a><button data-bs-toggle="modal" data-bs-target="#updateModal" (click)="test(offre)"><i class="fas fa-edit" style="color: #6366F1;"></i></button></a> &nbsp; 
                     <a><button><i class="fas fa-trash-alt" style="color: red;" (click)="offreDelete(offre.id)"></i></button></a></span>           
                </td>
                <td><!-- Button trigger modal -->
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a><button (click)="passe(offre.id)" [routerLink]="['/offre-candidatures', offre.id]"><i class="fas fa-street-view" style="color: #e0c215;"></i></button></a></span>
                        <!--update Modal -->
                        <div class="modal fade" id="updateModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                    <div class="page-wrapper bg-dark p-t-100 p-b-50">
                                        <div class="wrapper wrapper--w900">
                                            <div class="card card-6">
                                                <div class="card-heading">
                                                    <h2 class="title">Modifier offre d'Emploi: {{t.reference}}</h2>
                                                </div>
                                                <div class="card-body">
                                                    <form method="POST">
                                                        <div class="form-row">
                                                            <div class="name">Titre</div>
                                                            <div class="value">
                                                                <input class="form-control" type="text"  id="name" name="name"   [(ngModel)]="t.name">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="name">Domaine</div>
                                                            <div class="value">
                                                                <select class="form-control" name="domainId" [(ngModel)]="t.domainId">
                                                                    <option *ngFor="let Domaine of Domaines" value="{{Domaine.id}}" >{{Domaine.name}}</option>                                            
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="name">Expérience</div>
                                                            <div class="value">
                                                                <select class="form-control" name="experienceId" [(ngModel)]="t.experienceId">
                                                                    <option *ngFor="let Experience of Experiences" value="{{Experience.id}}" >{{Experience.name}}</option>                                            
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="name">Diplome</div>
                                                            <div class="value">
                                                                <select class="form-control" name="diplomaId" [(ngModel)]="t.diplomaId">
                                                                    <option *ngFor="let Diplome of Diplomes" value="{{Diplome.id}}">{{Diplome.name}}</option>                                            
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="name">Pays</div>
                                                            <div class="value">
                                                                <select class="form-control" name="countryId"  [(ngModel)]="t.countryId">
                                                                    <option *ngFor="let Countrie of Countries" value="{{Countrie.id}}">{{Countrie.name}}</option>                                            
                                                                </select>
                                                            </div>
                                                        </div>                                                             
                                                        <div class="form-row">
                                                            <div class="name">Type de Contrat</div>
                                                            <div class="value">
                                                                <select class="form-control" formControlName="contratTypeId" id="contratTypeId" name="contratTypeId" [(ngModel)]="t.contratTypeId">
                                                                    <option *ngFor="let Contrat of Contrats" value="{{Contrat.id}}">{{Contrat.name}}</option>                                            
                                                                </select>
                                                            </div>
                                                        </div>                               
                                                        <div class="form-row">
                                                            <div class="name">Salaire minimum</div>
                                                            <div class="value">
                                                                <input class="form-control" type="number" name="minSalary" step="50"  [(ngModel)]="t.minSalary">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="name">Salaire maximum</div>
                                                            <div class="value">
                                                                <input class="form-control" type="number" name="maxSalary" step="50" [(ngModel)]="t.maxSalary">
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="name">Description</div>
                                                            <div class="value">
                                                                <textarea class="form-control" type="text" name="description"[(ngModel)]="t.description" cols="26" rows="4"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="name">Date d'expiration</div>
                                                            <div class="value">
                                                                <input type="date" class="form-control" name="expirationDate" [(ngModel)]="t.expirationDate" >
                                                            </div>
                                                        </div>                                    
                                                    </form>                           
                                                </div> 
                                                <button type="submit" value="Modifier" (click)="updateOffre(t.id,t)"><span style="color:aliceblue;">Modifier</span></button>                                                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div> 
                    </td>      
                        
    
  
  
  
  <!--view Modal -->
  <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="page-wrapper bg-dark p-t-100 p-b-50">
                <div class="wrapper wrapper--w900">
                    <div class="card card-6">
                        <div class="card-heading">
                            <h2 class="title">offre d'Emploi: {{t.reference}}</h2>
                        </div>
                        <div class="card-body">
                            <form class="fadmin">                               
                                <div class="form-row">
                                    <div class="name">Titre</div>
                                    <div class="value">
                                        <input class="input--style-6" type="text" name="name" [(ngModel)]="t.name" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Domaine</div>
                                    <div class="value">
                                        <select class="form-control" name="domainId" [(ngModel)]="t.domainId" disabled>
                                            <option *ngFor="let Domaine of Domaines" value="{{Domaine.id}}" >{{Domaine.name}}</option>                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Expérience</div>
                                    <div class="value">
                                        <select class="form-control" name="experienceId" [(ngModel)]="t.experienceId" disabled>
                                            <option *ngFor="let Experience of Experiences" value="{{Experience.id}}" >{{Experience.name}}</option>                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Diplome</div>
                                    <div class="value">
                                        <select class="form-control" name="diplomaId" [(ngModel)]="t.diplomaId" disabled>
                                            <option *ngFor="let Diplome of Diplomes" value="{{Diplome.id}}">{{Diplome.name}}</option>                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Pays</div>
                                    <div class="value">
                                        <select class="form-control" name="countryId"  [(ngModel)]="t.countryId" disabled>
                                            <option *ngFor="let Countrie of Countries" value="{{Countrie.id}}">{{Countrie.name}}</option>                                            
                                        </select>
                                    </div>
                                </div>                                                             
                                <div class="form-row">
                                    <div class="name">Type de Contrat</div>
                                    <div class="value">
                                        <select class="form-control" name="contratId" [(ngModel)]="t.contratTypeId" disabled>
                                            <option *ngFor="let Contrat of Contrats" value="{{Contrat.id}}">{{Contrat.name}}</option>                                            
                                        </select>
                                    </div>
                                </div>                               
                                <div class="form-row">
                                    <div class="name">Salaire minimum</div>
                                    <div class="value">
                                        <input class="input--style-6" type="text" name="minSalary"  [(ngModel)]="t.minSalary" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Salaire maximum</div>
                                    <div class="value">
                                        <input class="input--style-6" type="text" name="maxSalary" [(ngModel)]="t.maxSalary" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Description</div>
                                    <div class="value">
                                        <textarea name="description" [(ngModel)]="t.description" cols="26" rows="4" disabled></textarea>                                       
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Date de publication</div>
                                    <div class="value">
                                        <input type="date" class="form-control" name="publicationDate" [(ngModel)]="t.publicationDate" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Date d'expiration</div>
                                    <div class="value">
                                        <input type="date" class="form-control" name="expirationDate" [(ngModel)]="t.expirationDate" disabled>
                                    </div>
                                </div>                                    
                            </form>                           
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div> 
                         </tr>           
                </tbody>
                </table>
            </div>
            </div>         
                    </div>
                </div>
            </div>

            <app-footer-admin></app-footer-admin>
        </div>
    </div>
</div>

<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="page-wrapper bg-dark p-t-100 p-b-50">
                <div class="wrapper wrapper--w900">
                    <div class="card card-6">
                        <div class="card-heading">
                            <h4 class="title">Ajouter offre d'Emploi</h4>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="addForm" (ngSubmit)="addOffre()" class="fadmin">
                                <div class="form-row">
                                    <div class="name">Reference</div>
                                    <div class="value">
                                        <input class="input--style-6" type="text" formControlName="reference" name="reference" [(ngModel)]="myoffre.reference">
                                        <div *ngIf="reference?.touched && reference?.invalid" class="text-danger">
                                            <small *ngIf="reference?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Titre</div>
                                    <div class="value">
                                        <input class="input--style-6" type="text" formControlName="name" name="name" [(ngModel)]="myoffre.name">
                                        <div *ngIf="name?.touched && name?.invalid" class="text-danger">
                                            <small *ngIf="name?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Domaine</div>
                                    <div class="value">
                                        <select class="form-control" name="domainId" formControlName="domainId" [(ngModel)]="myoffre.domainId">
                                            <option *ngFor="let Domaine of Domaines" value="{{Domaine.id}}" >{{Domaine.name}}</option>                                            
                                        </select>
                                        <div *ngIf="domainId?.touched && domainId?.invalid" class="text-danger">
                                            <small *ngIf="domainId?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Expérience</div>
                                    <div class="value">
                                        <select class="form-control" name="experienceId" formControlName="experienceId" [(ngModel)]="myoffre.experienceId">
                                            <option *ngFor="let Experience of Experiences" value="{{Experience.id}}" >{{Experience.name}}</option>                                            
                                        </select>
                                        <div *ngIf="experienceId?.touched && experienceId?.invalid" class="text-danger">
                                            <small *ngIf="experienceId?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Diplome</div>
                                    <div class="value">
                                        <select class="form-control" name="diplomaId" formControlName="diplomaId" [(ngModel)]="myoffre.diplomaId">
                                            <option *ngFor="let Diplome of Diplomes" value="{{Diplome.id}}">{{Diplome.name}}</option>                                            
                                        </select>
                                        <div *ngIf="diplomaId?.touched && diplomaId?.invalid" class="text-danger">
                                            <small *ngIf="diplomaId?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Pays</div>
                                    <div class="value">
                                        <select class="form-control" name="countryId" formControlName="countryId"  [(ngModel)]="myoffre.countryId">
                                            <option *ngFor="let Countrie of Countries" value="{{Countrie.id}}">{{Countrie.name}}</option>                                            
                                        </select>
                                        <div *ngIf="countryId?.touched && countryId?.invalid" class="text-danger">
                                            <small *ngIf="countryId?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>                                                              
                                <div class="form-row">
                                    <div class="name">Type de Contrat</div>
                                    <div class="value">
                                        <select class="form-control" name="contratTypeId" formControlName="contratTypeId" [(ngModel)]="myoffre.contratTypeId">
                                            <option *ngFor="let Contrat of Contrats" value="{{Contrat.id}}">{{Contrat.name}}</option>                                            
                                        </select>
                                        <div *ngIf="contratTypeId?.touched && contratTypeId?.invalid" class="text-danger">
                                            <small *ngIf="contratTypeId?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>                               
                                <div class="form-row">
                                    <div class="name">Salaire minimum</div>
                                    <div class="value">
                                        <input class="input--style-6" type="number" name="minSalary" formControlName="minSalary" step="50"  [(ngModel)]="myoffre.minSalary">
                                        <div *ngIf="minSalary?.touched && minSalary?.invalid" class="text-danger">
                                            <small *ngIf="minSalary?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Salaire maximum</div>
                                    <div class="value">
                                        <input class="input--style-6" type="number" name="maxSalary" formControlName="maxSalary" step="50" [(ngModel)]="myoffre.maxSalary">
                                        <div *ngIf="maxSalary?.touched && maxSalary?.invalid" class="text-danger">
                                            <small *ngIf="maxSalary?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="name">Description</div>
                                    <div class="value">
                                        <textarea name="description" formControlName="description" [(ngModel)]="myoffre.description" cols="26" rows="4"></textarea>
                                        <div *ngIf="description?.touched && description?.invalid" class="text-danger">
                                            <small *ngIf="description?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>                               
                                <div class="form-row">
                                    <div class="name">Date d'expiration</div>
                                    <div class="value">
                                        <input type="date" class="form-control" formControlName="expirationDate" name="expirationDate" [(ngModel)]="myoffre.expirationDate" >
                                        <div *ngIf="expirationDate?.touched && expirationDate?.invalid" class="text-danger">
                                            <small *ngIf="expirationDate?.errors?.required">Champ obligatoire <br></small>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>   
                        <div style="background-color: white; height: 30px;">
                            <button class="bg-dark btpop" type="submit" [disabled]="addForm.invalid">
                            <span class="spanpop">Ajouter</span></button>                      
                        </div>
                        </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
