<div>
  <app-sidebar-admin></app-sidebar-admin>
  <div class="relative md:ml-64 bg-blueGray-100">
    <app-admin-navbar></app-admin-navbar>
    <app-admin-header></app-admin-header>
    <div class="px-4 md:px-10 mx-auto w-full -m-24">
      <div class="flex flex-wrap cm">
        <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
          <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-blueGray-100">
            <div class="rounded-t mb-0 px-4 py-3 ">
              <div class="flex flex-wrap items-center">
                <div class="relative w-full max-w-full flex-grow flex-1 mh-400 bg-blueGray-100">



                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="langue-tab" data-bs-toggle="tab" data-bs-target="#langue"
                        type="button" role="tab" aria-controls="langue" aria-selected="true">Langues</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="niveaulangue-tab" data-bs-toggle="tab" data-bs-target="#niveaulangue"
                        type="button" role="tab" aria-controls="niveaulangue" aria-selected="false">Niveaux</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="permis-tab" data-bs-toggle="tab" data-bs-target="#permis"
                        type="button" role="tab" aria-controls="permis" aria-selected="false">Permis de
                        conduire</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pays-tab" data-bs-toggle="tab" data-bs-target="#pays" type="button"
                        role="tab" aria-controls="pays" aria-selected="false">Pays</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="domaine-tab" data-bs-toggle="tab" data-bs-target="#domaine"
                        type="button" role="tab" aria-controls="domaine" aria-selected="false">Domaines</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="niveauetude-tab" data-bs-toggle="tab" data-bs-target="#niveauetude"
                        type="button" role="tab" aria-controls="niveauetude" aria-selected="false">Niveaux
                        d'étude</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="niveauexp-tab" data-bs-toggle="tab" data-bs-target="#niveauexp"
                        type="button" role="tab" aria-controls="niveauexp" aria-selected="false">Niveaux
                        d'expérience</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="contrat-tab" data-bs-toggle="tab" data-bs-target="#contrat"
                        type="button" role="tab" aria-controls="contrat" aria-selected="false">Contrats</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <!--langues-->
                    <div class="tab-pane fade show active" id="langue" role="tabpanel" aria-labelledby="langue-tab">

                      <div class="row">
                        <div class="col-md-6">
                          <div  *ngIf="languages.length == 0" class="alert alert-warning" style="margin-left: 10%; margin-top: 20px;">Pas de résultats</div>
                          <ul *ngIf="languages.length > 0" class="list-group" style="width: 300px; margin: 50px;">
                            <li *ngFor="let language of languages"
                              class="list-group-item d-flex justify-content-between align-items-center">
                              {{language.name}}
                              <span> <a><i class="fas fa-edit" style="color: #6366F1;"></i></a> &nbsp; 
                                <a><button>
                                  <i class="fas fa-trash-alt" style="color: red;" (click)="languageDelete(language.id)"></i></button></a></span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6" style="margin-top: 10%;">
                          <form>
                            <div class="form-row row">
                              <div class="form-group col-md-6">
                                <input type="text" class="form-control aj" placeholder="Langue" id="ajitem">
                              </div>
                              <div class="form-group col-md-6">
                                <button type="submit" class="btn">Ajouter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>

                    </div>
                    <!-- fin langues-->
                    <!--niveau de langues-->
                    <div class="tab-pane fade" id="niveaulangue" role="tabpanel" aria-labelledby="niveaulangue-tab">
                      <div class="row">
                        <div class="col-md-6">
                          <div  *ngIf="languageLevels.length == 0" class="alert alert-warning" style="margin-left: 10%; margin-top: 20px;">Pas de résultats</div>
                          <ul *ngIf="languageLevels.length > 0" class="list-group" style="width: 300px; margin: 50px;">
                            <li *ngFor="let languageLevel of languageLevels" class="list-group-item d-flex justify-content-between align-items-center">
                              {{languageLevel.name}}
                              <span> <a><i class="fas fa-edit" style="color: #6366F1;"></i></a> &nbsp; 
                                <a><button>
                                  <i class="fas fa-trash-alt" style="color: red;" (click)="languageLevelDelete(languageLevel.id)"></i></button></a></span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6" style="margin-top: 10%;">
                          <form>
                            <div class="form-row row">
                              <div class="form-group col-md-6">

                                <input type="text" class="form-control aj" placeholder="Niveau" id="ajitem">
                              </div>
                              <div class="form-group col-md-6">
                                <button type="submit" class="btn">Ajouter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>

                    </div>

                    <!-- fin niveau de langues-->
                    <!--permis-->
                    <div class="tab-pane fade" id="permis" role="tabpanel" aria-labelledby="permis-tab">

                      <div class="row">
                        <div class="col-md-6">
                          <div  *ngIf="DrivingLicences.length == 0" class="alert alert-warning" style="margin-left: 10%; margin-top: 20px;">Pas de résultats</div>
                          <ul *ngIf="DrivingLicences.length > 0" class="list-group" style="width: 300px; margin: 50px;">
                            <li *ngFor="let DrivingLicence of DrivingLicences" class="list-group-item d-flex justify-content-between align-items-center">
                              {{DrivingLicence.type}}
                              <span> <a><i class="fas fa-edit" style="color: #6366F1;"></i></a> &nbsp; 
                                <a><button>
                                  <i class="fas fa-trash-alt" style="color: red;" (click)="drivingLicenceDelete(DrivingLicence.id)"></i></button></a></span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6" style="margin-top: 10%;">
                          <form>
                            <div class="form-row row">
                              <div class="form-group col-md-6">

                                <input type="text" class="form-control aj" placeholder="Permis" id="ajitem">
                              </div>
                              <div class="form-group col-md-6">
                                <button type="submit" class="btn">Ajouter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>

                    <!-- fin permis-->
                    <!-- pays-->
                    <div class="tab-pane fade" id="pays" role="tabpanel" aria-labelledby="pays-tab">

                      <div class="row">
                        <div class="col-md-6">
                          <div  *ngIf="Countries.length == 0" class="alert alert-warning" style="margin-left: 10%; margin-top: 20px;">Pas de résultats</div>
                          <ul *ngIf="Countries.length > 0" class="list-group" style="width: 300px; margin: 50px;">
                            <li *ngFor="let Countrie of Countries" class="list-group-item d-flex justify-content-between align-items-center">
                              {{Countrie.name}}
                              <span> <a><i class="fas fa-edit" style="color: #6366F1;"></i></a> &nbsp; 
                                <a><button>
                                  <i class="fas fa-trash-alt" style="color: red;" (click)="countryDelete(Countrie.id)"></i></button></a></span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6" style="margin-top: 10%;">
                          <form>
                            <div class="form-row row">
                              <div class="form-group col-md-6">

                                <input type="text" class="form-control aj" placeholder="Pays" id="ajitem">
                              </div>
                              <div class="form-group col-md-6">
                                <button type="submit" class="btn">Ajouter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>


                    </div>
                    <!-- fin pays-->
                    <!-- domaine-->
                    <div class="tab-pane fade" id="domaine" role="tabpanel" aria-labelledby="domaine-tab">

                      <div class="row">
                        <div class="col-md-6">
                          <div  *ngIf="Domaines.length == 0" class="alert alert-warning" style="margin-left: 10%; margin-top: 20px;">Pas de résultats</div>
                          <ul *ngIf="Domaines.length > 0" class="list-group" style="width: 300px; margin: 50px;">
                            <li *ngFor="let Domaine of Domaines" class="list-group-item d-flex justify-content-between align-items-center">
                              {{Domaine.name}}
                              <span> <a><i class="fas fa-edit" style="color: #6366F1;"></i></a> &nbsp; 
                                <a><button>
                                  <i class="fas fa-trash-alt" style="color: red;" (click)="domaineDelete(Domaine.id)"></i></button></a></span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6" style="margin-top: 10%;">
                          <form>
                            <div class="form-row row">
                              <div class="form-group col-md-6">

                                <input type="text" class="form-control aj" placeholder="Domaine" id="ajitem">
                              </div>
                              <div class="form-group col-md-6">
                                <button type="submit" class="btn">Ajouter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>


                    </div>
                    <!-- fin domaine-->
                    <!-- niveau d etudes-->

                    <div class="tab-pane fade" id="niveauetude" role="tabpanel" aria-labelledby="niveauetude-tab">

                      <div class="row">
                        <div class="col-md-6">
                          <div  *ngIf="StudiesLevels.length == 0" class="alert alert-warning" style="margin-left: 10%; margin-top: 20px;">Pas de résultats</div>
                          <ul *ngIf="StudiesLevels.length > 0" class="list-group" style="width: 300px; margin: 50px;">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Bac +3
                              <span> <a><i class="fas fa-edit" style="color: #6366F1;"></i></a> &nbsp; <a><i
                                    class="fas fa-trash-alt" style="color: red;"></i></a></span>
                            </li>

                
                          </ul>
                        </div>
                        <div class="col-md-6" style="margin-top: 10%;">
                          <form>
                            <div class="form-row row">
                              <div class="form-group col-md-6">

                                <input type="text" class="form-control aj" placeholder="Niveau d'étude" id="ajitem">
                              </div>
                              <div class="form-group col-md-6">
                                <button type="submit" class="btn">Ajouter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>


                    </div>
                    <!-- fin niveau d etudes-->
                    <!-- niveau d experience -->
                    <div class="tab-pane fade" id="niveauexp" role="tabpanel" aria-labelledby="niveauexp-tab">

                      <div class="row">
                        <div class="col-md-6">
                          <div  *ngIf="Experiences.length == 0" class="alert alert-warning" style="margin-left: 10%; margin-top: 20px;">Pas de résultats</div>
                          <ul *ngIf="Experiences.length > 0" class="list-group" style="width: 300px; margin: 50px;">
                            <li *ngFor="let Experience of Experiences" class="list-group-item d-flex justify-content-between align-items-center">
                              {{Experience.name}}
                              <span> <a><i class="fas fa-edit" style="color: #6366F1;"></i></a> &nbsp; 
                                <a><button>
                                  <i class="fas fa-trash-alt" style="color: red;" (click)="experienceDelete(Experience.id)"></i></button></a></span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6" style="margin-top: 10%;">
                          <form>
                            <div class="form-row row">
                              <div class="form-group col-md-6">

                                <input type="text" class="form-control aj" placeholder="Niveau d'experience"
                                  id="ajitem">
                              </div>
                              <div class="form-group col-md-6">
                                <button type="submit" class="btn">Ajouter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- fin niveau d experience-->


                    <!-- contrat -->
                    <div class="tab-pane fade" id="contrat" role="tabpanel" aria-labelledby="contrat-tab">

                      <div class="row">
                        <div class="col-md-6">
                          <div  *ngIf="Contrats.length == 0" class="alert alert-warning" style="margin-left: 10%; margin-top: 20px;">Pas de résultats</div>
                          <ul *ngIf="Contrats.length > 0" class="list-group" style="width: 300px; margin: 50px;">
                            <li *ngFor="let Contrat of Contrats" class="list-group-item d-flex justify-content-between align-items-center">
                              {{Contrat.name}}
                              <span> <a><i class="fas fa-edit" style="color: #6366F1;"></i></a> &nbsp; 
                                <a><button>
                                  <i class="fas fa-trash-alt" style="color: red;" (click)="contratDelete(Contrat.id)"></i></button></a></span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6" style="margin-top: 10%;">
                          <form>
                            <div class="form-row row">
                              <div class="form-group col-md-6">

                                <input type="text" class="form-control aj" placeholder="Contrat" id="ajitem">
                              </div>
                              <div class="form-group col-md-6">
                                <button type="submit" class="btn">Ajouter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- fin contrat-->

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <app-footer-admin></app-footer-admin>
    </div>
  </div>
</div>