<app-navbar></app-navbar>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5 bg-light" style="margin-top: 150px!important;">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Se connecter </h1>
                                </div>
                                
                                <form [formGroup]="loginForm" class="user">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" formControlName="email" class="form-control" id="email">
                                        <div *ngIf="email?.touched && email?.invalid" class="text-danger">
                                            <small *ngIf="email?.errors?.required">Champ obligatoire <br></small>
                                            <small *ngIf="email?.errors?.email">Email invalide</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" formControlName="password" class="form-control"
                                            id="password">
                                        <div *ngIf="password?.touched && password?.invalid" class="text-danger">
                                            <small *ngIf="password?.errors?.required">Champ obligatoire <br></small>
                                            <small *ngIf="password?.errors?.minlength">Minimum 8 caractères </small>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>

                                </form>

                                <hr class="hr">
                                <div class="text-center">
                                    <a class="small" href="">Mot de passe oublié?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="" routerLink="/register">Créer un compte!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>