<!-- Navbar -->
<nav
  class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
  <div class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
    <!-- Brand -->
    <a class="text-white text-sm uppercase hidden lg:inline-block font-semibold" [routerLink]="['/dashboard']">Tableau de bord</a>
        
    <a class=" text-blueGray-700 text-sm uppercase hidden lg:inline-block font-semibold" [routerLink]="['/dashboard']">Se déconnecter <i class="fas fa-sign-out-alt"></i></a>
   
  </div>
</nav>