<div>
    <app-sidebar-admin></app-sidebar-admin>
    <div class="relative md:ml-64 bg-blueGray-100">
        <app-admin-navbar></app-admin-navbar>
        <app-admin-header></app-admin-header>
        <div class="px-4 md:px-10 mx-auto w-full -m-24">
            <div class="flex flex-wrap cm">
                <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
                                    <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
                                        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                                          <div class="rounded-t mr-4 p-3 border-0">
                                            <div class="row">
                                              <div class="col-md-4">                                                
                                                    <div class="flex justify-center">
                                                      <div class="mr-4 p-3 text-center">
                                                        <span
                                                          class="text-xl font-bold block uppercase tracking-wide text-blueGray-600"
                                                        >
                                                          22
                                                        </span>
                                                        <span class="text-sm text-blueGray-400">Friends</span>
                                                      </div>
                                                      <div class="mr-4 p-3 text-center">
                                                        <span
                                                          class="text-xl font-bold block uppercase tracking-wide text-blueGray-600"
                                                        >
                                                          10
                                                        </span>
                                                        <span class="text-sm text-blueGray-400">Candidatures</span>
                                                      </div>
                                                    </div>
                                                 
                                              </div>

                                              <div class="col-md-4">
                                                <div class="w-full px-4 flex justify-center">
                                                  <div class="relative">
                                                    <img src="../assets/img/logo.png"
                                                      class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px"
                                                    />
                                                  </div>
                                                </div>
                                                
                                              </div>
                                              <div class="col-md-4">
                                                <div class="row">
                                                  <div class="col-md-2">
                                                    <a
                                                      class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                                                      href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdemos.creative-tim.com%2Fnotus-angular%2F"
                                                      target="_blank"
                                                    >
                                                      <i
                                                        class="lg:text-blueGray-400 text-blueGray-400 fab fa-facebook text-lg leading-lg"
                                                      ></i>
                                                      
                                                    </a>
                                                  </div>
                                          
                                                  <div class="col-md-2">
                                                    <a
                                                      class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                                                      href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdemos.creative-tim.com%2Fnotus-angular%2F&text=Start%20your%20development%20with%20a%20Free%20Tailwind%20CSS%20and%20Angular%20UI%20Kit%20and%20Admin.%20Let%20Notus%20Angular%20amaze%20you%20with%20its%20cool%20features%20and%20build%20tools%20and%20get%20your%20project%20to%20a%20whole%20new%20level."
                                                      target="_blank"
                                                    >
                                                      <i
                                                        class="lg:text-blueGray-400 text-blueGray-400 fab fa-linkedin-in text-lg leading-lg"
                                                      ></i>
                                                      
                                                    </a>
                                                  </div>
                                          
                                                  <div class="col-md-2">
                                                    <a
                                                      class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                                                      href="https://github.com/creativetimofficial/notus-angular?ref=na-auth-navbar"
                                                      target="_blank"
                                                    >
                                                      <i
                                                        class="lg:text-blueGray-400 text-blueGray-400 fab fa-github text-lg leading-lg"
                                                      ></i>
                                                      
                                                    </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                      <h6
                                                        class="lg:text-blueGray-400 text-blueGray-400 px-3 py-2 lg:py-2 flex items-center uppercase font-bold"
                                                          style="margin-top: 22px;" >
                                                        25 137 633
                                                    </h6>
                                                      </div>
                                                 </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="block w-full overflow-x-auto" style="width: 80%; margin-left: 10%;" >
                                            
                                            <div class="">
                                
                                              <div class="text-center">
                                                <h3
                                                  class="text-xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
                                                >
                                                 Nom & Prenom
                                                </h3>
                                                <div
                                                  class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase"
                                                >
                                                  <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
                                                  Rue, ville - Code Postal , Pays
                                                </div>
                                                <div class="mb-2 text-blueGray-600 mt-10" style="margin-top : 1rem">
                                                  <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>
                                                  Email
                                                </div>
                                                <div class="mb-2 text-blueGray-600">
                                                  <i class="fas fa-university mr-2 text-lg text-blueGray-400"></i>
                                                  Date de naissance
                                                </div>
                                              </div>
                                              <div class="border-t border-blueGray-200 text-left" style="width: 100%; margin-bottom: 15px;">
                                                <div class="text-l font-bold block uppercase tracking-wide text-blueGray-600" style="margin: 20px;">Expérience professionnelle</div>
                                                <div class="flex flex-wrap" style="width: 100%;">
                                                  <div class="row row-cols-1 row-cols-md-2 g-6" style="margin-left: 15px;" >
                                                    <div class="col"  style="border: solid 1px #efebeb;width: 340px; margin-left: 10px; margin-bottom: 5px; padding: 10px;">
                                                      <div class="card">
                                                        <p>Prefession : ----- </p>
                                                        <p>Domaine: ----- </p>
                                                        <p>Niveau d'expérience : ----- </p>
                                                        <p>Nom de l'entreprise : ----- </p>
                                                        <p>Date début : ----- </p>
                                                        <p>Date fin : ----- </p>
                                                        
                                                      </div>
                                                    </div>
                                                    
                                                    <div class="col"  style="border: solid 1px #efebeb;width: 340px; margin-left: 10px; margin-bottom: 5px; padding: 10px;">
                                                      <div class="card">
                                                        <p>Prefession : ----- </p>
                                                        <p>Domaine: ----- </p>
                                                        <p>Niveau d'expérience : ----- </p>
                                                        <p>Nom de l'entreprise : ----- </p>
                                                        <p>Date début : ----- </p>
                                                        <p>Date fin : ----- </p>
                                                        
                                                      </div>
                                                    </div>

                                                    <div class="col"  style="border: solid 1px #efebeb;width: 340px; margin-left: 10px; margin-bottom: 5px; padding: 10px;">
                                                      <div class="card">
                                                        <p>Prefession : ----- </p>
                                                        <p>Domaine: ----- </p>
                                                        <p>Niveau d'expérience : ----- </p>
                                                        <p>Nom de l'entreprise : ----- </p>
                                                        <p>Date début : ----- </p>
                                                        <p>Date fin : ----- </p>
                                                        
                                                      </div>
                                                    </div>

       
                                                    
                                                    
                                                  </div>
                                                </div>
                                              </div>

                                              <div class="border-t border-blueGray-200 text-left" style="width: 100%; margin-bottom: 15px;">
                                                <div class="text-l font-bold block uppercase tracking-wide text-blueGray-600" style="margin: 20px;">Diplome</div>
                                                <div class="flex flex-wrap" style="width: 100%;">
                                                  <div class="row row-cols-1 row-cols-md-2 g-6" style="margin-left: 15px;" >
                                                    <div class="col"  style="border: solid 1px #efebeb;width: 340px; margin-left: 10px; margin-bottom: 5px; padding: 10px;">
                                                      <div class="card">
                                                        <p>Diplome : ----- </p>
                                                        <p>Niveau: ----- </p>
                                                        <p>Domaine : ----- </p>
                                                        <p>Université : ----- </p>
                                                        <p>Date : ----- </p>
                                                        
                                                      </div>
                                                    </div>
                                                    
                                                    <div class="col"  style="border: solid 1px #efebeb;width: 340px; margin-left: 10px; margin-bottom: 5px; padding: 10px;">
                                                      <div class="card">
                                                        <p>Diplome : ----- </p>
                                                        <p>Niveau: ----- </p>
                                                        <p>Domaine : ----- </p>
                                                        <p>Université : ----- </p>
                                                        <p>Date : ----- </p>
                                                        
                                                      </div>
                                                    </div>

                                                    <div class="col"  style="border: solid 1px #efebeb;width: 340px; margin-left: 10px; margin-bottom: 5px; padding: 10px;">
                                                      <div class="card">
                                                        <p>Diplome : ----- </p>
                                                        <p>Niveau: ----- </p>
                                                        <p>Domaine : ----- </p>
                                                        <p>Université : ----- </p>
                                                        <p>Date : ----- </p>
                                                        
                                                      </div>
                                                    </div>

       
                                                    
                                                    
                                                  </div>
                                                </div>
                                              </div>


                                              <div class="border-t border-blueGray-200 text-left" style="width: 100%; margin-bottom: 15px;">
                                                <div class="text-l font-bold block uppercase tracking-wide text-blueGray-600" style="margin: 20px;">Autres</div>
                                                <div class="flex flex-wrap" style="width: 100%;">
                                                  <div class="row" style="margin-left: 15px;" >
                                                    <div class="col-md-7"  style="border: solid 1px #efebeb;width: 440px; margin-left: 10px; margin-bottom: 5px; padding: 10px;">
                                                      <div class="card">
                                                        <div class="row">
                                                          <div class="col-md-5"> Langue : ----- </div>
                                                          <div class="col-md-7"> Niveau : ----- </div>
                                                        </div>                                  
                                                      </div>
                                                    </div>
                                                    <div class="col-md-5"  style="border: solid 1px #efebeb;width: 240px; margin-left: 10px; margin-bottom: 5px; padding: 10px;">
                                                      <div class="card">
                                                        <p>Permis : <i class="fas fa-check-circle" style="color: green;"></i> <i class="fas fa-times-circle" style="color: red;"></i></p>   
                                                        <p>CV : </p>      
                                                        <p>salaire souhaité: </p>                          
                                                      </div>
                                                    </div>
                                                   

       
                                                    
                                                    
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          
                                          
                                        </div>                          
                    </div>

                </div>
            </div>
            <app-footer-admin></app-footer-admin>
        </div>
    </div>
</div>

