<app-navbar-candidate></app-navbar-candidate>
<div class="container bg-light">
    <div class="main-body">


        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <!-- photo de profil -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>Maissa Soussi</h4>
                                <p class="text-muted font-size-sm">maissa.soussi@ensi-uma.tn</p>
                                <!--<p><input type="file" id="userPicFileUpload"/></p>
                      <p><button class="btn btn-outline-primary editable-submit" id="btnChangeUserPic">Changer l'image</button> </p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin photo de profil-->

                <!-- debut reseaux sociaux -->
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-github mr-2 icon-inline">
                                    <path
                                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                    </path>
                                </svg>Github</h6> <br/>
                            <span class="text-secondary">https://github.com/maissa-soussi</span>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">

                            

                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-facebook mr-2 icon-inline text-primary">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>Facebook</h6> <br/>
                            <span class="text-secondary">https://www.facebook.com/maissa.soussi.12/</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-twitter mr-2 icon-inline text-info">
                                    <path
                                        d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 72.476v6.759z">
                                    </path>
                                </svg>Linkedin</h6> <br/>
                            <span class="text-secondary">https://www.linkedin.com/home/?originalSubdomain=fr</span>
                        </li>

                        <li
                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap bg-light">
                            <div class="row justify-content-center">

                                <div class="col-sm-3 text-secondary ">
                                    <button class="btn btn-outline-primary editable-submit">Modifier</button> 
                                </div>
                                <div class="col-sm-2 text-secondary "></div>
                                <div class="col-sm-3 text-secondary ">
                                    <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- fin reseaux sociaux-->

                 <!-- --------- -->

            
                <div class="card mt-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0 text-secondary">Permis de conduire</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    <div class="col-auto">

                                        <select class="form-select" id="autoSizingSelect">
                                            <option selected>--</option>
                                            <option value="1">Permis A</option>
                                            <option value="2">Permis B</option>
                                            <option value="3">Permis C</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0 text-secondary">Salaire souhaité</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    <div class="col-auto">

                                        <select class="form-select" id="autoSizingSelect">
                                            <option selected>--</option>
                                            <option value="1">0-3000</option>
                                            <option value="2">3000-6000</option>
                                            <option value="3">6000-9000</option>
                                            <option value="4">9000-12000</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0 text-secondary">Langues</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    <div class="col-auto">

                                        <select class="form-select" >
                                            <option selected>--</option>
                                            <option value="1">Français</option>
                                            <option value="2">Anglais</option>
                                            <option value="3">Allemand</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0 text-secondary">Niveau</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    <div class="col-auto">

                                        <select class="form-select" >
                                            <option selected>--</option>
                                            <option value="1"> Débutant </option>
                                            <option value="2">Avancé</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <br/>
                            <div class="row justify-content-center">

                                <div class="col-sm-3 text-secondary ">
                                    <button class="btn btn-outline-primary editable-submit">Modifier</button> 
                                </div>
                                <div class="col-sm-1 text-secondary "></div>
                                <div class="col-sm-3 text-secondary ">
                                    <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                

            <!-- --------- -->
            </div>


           
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <b> Informations Personnelles</b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Nom complet</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">

                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Prenom"
                                            aria-label="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Nom"
                                            aria-label="Last name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Date de naissance</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                <input type="date" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Téléphone</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                <input type="text" class="form-control" aria-label="tel">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Genre</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <div class="row">
                                    <div class="form-check col-sm-4">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                            value="option1" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                            Homme
                                        </label>
                                    </div>
                                    <div class="form-check col-sm-4">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                            value="option2">
                                        <label class="form-check-label" for="gridRadios2">
                                            Femme
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Rue</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">

                                <input type="text" class="form-control" aria-label="Rue">

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Ville</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" aria-label="City">
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Code postal"
                                            aria-label="Zip">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Pays</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select" id="autoSizingSelect">
                                        <option selected>Choisir...</option>
                                        <option value="1">Tunisie</option>
                                        <option value="2">France</option>
                                        <option value="3">Allemagne</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row justify-content-center">

                            <div class="col-sm-4 text-secondary ">
                                <button class="btn btn-outline-primary editable-submit">Modifier</button> &nbsp; &nbsp;
                                <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                            </div>
                        </div>

                        <br />
                    </div>
                </div>


                <div class="card mb-3">
                    <div class="card-header">
                       <b> Expériences professionnelles </b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Nom de l'entreprise</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="text" class="form-control" aria-label="companyname">

                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Profession</h6>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" aria-label="profession">
                            </div>
                        </div>
                        <br />


                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Domaine</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select">
                                        <option selected>--</option>
                                        <option value="1">Logistique</option>
                                        <option value="2">Vente</option>
                                        <option value="3">Informatique</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Niveau d'expérience</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select">
                                        <option selected>--</option>
                                        <option value="1">Executives</option>
                                        <option value="2">Directeur</option>
                                        <option value="3">Manager</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Date de début</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Date de fin</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <br />


                        <div class="row justify-content-center">

                            <div class="col-sm-4 text-secondary ">
                                <button class="btn btn-outline-primary editable-submit">Modifier</button> &nbsp; &nbsp;
                                <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                            </div>
                        </div>

                        <hr>
                    </div>
                </div>


                <div class="card mb-3">
                    <div class="card-header">
                    <b> Diplomes </b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Université/Ecole</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="text" class="form-control" aria-label="university">

                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Niveau</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select">
                                        <option selected>--</option>
                                        <option value="1">Bac +3</option>
                                        <option value="2">Bac +5</option>
                                        <option value="3">Bac +8</option>
                                        <option value="4">CAP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />


                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Nom du diplome</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="text" class="form-control" aria-label="diplomaname">
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Domaine</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select">
                                        <option selected>--</option>
                                        <option value="1">Logistique</option>
                                        <option value="2">Vente</option>
                                        <option value="3">Informatique</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Date du diplome</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <br />


                        <div class="row justify-content-center">

                            <div class="col-sm-4 text-secondary ">
                                <button class="btn btn-outline-primary editable-submit">Modifier</button> &nbsp; &nbsp;
                                <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                            </div>
                        </div>

                        <hr>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>