<app-navbar-candidate></app-navbar-candidate>
<div class="container bg-light">
    <div class="main-body">


        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <!-- photo de profil -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>Maissa Soussi</h4>
                                <p class="text-muted font-size-sm">maissa.soussi@ensi-uma.tn</p>
                                <!--<p><input type="file" id="userPicFileUpload"/></p>
                      <p><button class="btn btn-outline-primary editable-submit" id="btnChangeUserPic">Changer l'image</button> </p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin photo de profil-->

                <!-- debut reseaux sociaux -->
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item d-flex align-items-center flex-wrap">
                           <h4> <i class="fab fa-github-square"></i> </h4>
                            <h6 style="margin-right: 100px;"> Github</h6>
                            <span class="text-secondary">https://github.com/maissa-soussi</span>
                        </li>


                        <li class="list-group-item d-flex align-items-center flex-wrap">
                            <h4> <i class="fab fa-facebook-square"></i> </h4>
                            <h6 style="margin-right: 100px;">Facebook</h6> 
                            <span class="text-secondary">https://www.facebook.com/maissa.soussi.12/</span>
                        </li>

                        <li class="list-group-item d-flex align-items-center flex-wrap">
                            <h4> <i class="fab fa-linkedin"></i> </h4>
                            <h6 style="margin-right: 100px;">Linkedin</h6> 
                            <span class="text-secondary">https://www.linkedin.com/home/?originalSubdomain=fr</span>
                        </li>

                        <li
                            class="list-group-item d-flex align-items-center flex-wrap bg-light">
                            <div class="row justify-content-center">

                                <div class="col-sm-3 text-secondary ">
                                    <button class="btn btn-outline-primary editable-submit">Modifier</button> 
                                </div>
                                <div class="col-sm-2 text-secondary "></div>
                                <div class="col-sm-3 text-secondary ">
                                    <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- fin reseaux sociaux-->

                 <!-- --------- -->

            
                <div class="card mt-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0 text-secondary">Permis de conduire</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    <div class="col-auto">

                                        <select class="form-select" id="autoSizingSelect">
                                            <option selected>--</option>
                                            <option *ngFor="let DrivingLicence of DrivingLicences" value="{{DrivingLicence.type}}">{{DrivingLicence.type}}</option>
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0 text-secondary">Salaire souhaité</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    <div class="col-auto">

                                        <select class="form-select" id="autoSizingSelect">
                                            <option selected>--</option>
                                            <option *ngFor="let Salaire of Salaires" value="{{Salaire.salary}}">{{Salaire.salary}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0 text-secondary">Langues</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    <div class="col-auto">

                                        <select class="form-select" >
                                            <option selected>--</option>
                                            <option *ngFor="let language of languages" value="{{language.name}}">{{language.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="mb-0 text-secondary">Niveau</h6>
                                </div>
                                <div class="col-sm-6 text-secondary">
                                    <div class="col-auto">

                                        <select class="form-select" >
                                            <option selected>--</option>
                                            <option *ngFor="let languageLevel of languageLevels" value="{{languageLevel.name}}"> {{languageLevel.name}} </option>
                    
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <br/>
                            <div class="row justify-content-center">

                                <div class="col-sm-3 text-secondary ">
                                    <button class="btn btn-outline-primary editable-submit">Modifier</button> 
                                </div>
                                <div class="col-sm-1 text-secondary "></div>
                                <div class="col-sm-3 text-secondary ">
                                    <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                                </div>
                            </div>
                            <hr>
                            <div class="accordion" id="accordionExample1">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne0">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne0" aria-expanded="false" aria-controls="collapseOne0">
                                      
                                    </button>
                                  </h2>
                                  <div id="collapseOne0" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample0">
                                    <div class="accordion-body">
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            <div class="col" style="width: 100%;">
                                              <div class="card">
                                                <div class="card-body">
                                                  
                                                  <div class="card-text">
                                                      <table >
                                                          <tr>
                                                              <td> Français : </td>
                                                              <td> Débutant</td>
                                                          </tr>
                                                          <tr>
                                                            <td> Anglais : </td>
                                                            <td> Débutant</td>
                                                        </tr>
                                                     
                                                      </table>
                                                   
                                                  </div>
                                                
                                                </div>
                                              </div>
                                            </div>
                                         
                                        
                                          </div>
                                    
                                    </div>
                                  </div>
                                </div>
                               
                               
                              </div>
                            
                        </div>
                    </div>
                </div>
            
                

            <!-- --------- -->
            </div>


           
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <b> Informations Personnelles</b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Nom complet</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">

                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Prenom"
                                            aria-label="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Nom"
                                            aria-label="Last name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Date de naissance</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                <input type="date" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Téléphone</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                <input type="text" class="form-control" aria-label="tel">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Genre</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <div class="row">
                                    <div class="form-check col-sm-4">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                            value="option1" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                            Homme
                                        </label>
                                    </div>
                                    <div class="form-check col-sm-4">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                            value="option2">
                                        <label class="form-check-label" for="gridRadios2">
                                            Femme
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Rue</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">

                                <input type="text" class="form-control" aria-label="Rue">

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Ville</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" aria-label="City">
                                    </div>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Code postal"
                                            aria-label="Zip">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Pays</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select" id="autoSizingSelect">
                                        <option selected>Choisir...</option>
                                        <option *ngFor="let Countrie of Countries" value="{{Countrie.name}}">{{Countrie.name}}</option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">CV</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>

                        
                        <br />
                        <div class="row justify-content-center">

                            <div class="col-sm-4 text-secondary ">
                                <button class="btn btn-outline-primary editable-submit">Modifier</button> &nbsp; &nbsp;
                                <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                            </div>
                        </div>

                        <br />
                    </div>
                </div>


                <div class="card mb-3">
                    <div class="card-header">
                       <b> Expériences professionnelles </b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Nom de l'entreprise</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="text" class="form-control" aria-label="companyname">

                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Profession</h6>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" aria-label="profession">
                            </div>
                        </div>
                        <br />


                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Domaine</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select">
                                        <option selected>--</option>
                                        <option *ngFor="let Domaine of Domaines" value="{{Domaine.name}}"> {{Domaine.name}}</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Niveau d'expérience</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select">
                                        <option selected>--</option>
                                        <option *ngFor="let Experience of Experiences" value="{{Experience.name}}">{{Experience.name}}</option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Date de début</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Date de fin</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <br />


                        <div class="row justify-content-center">

                            <div class="col-sm-4 text-secondary ">
                                <button class="btn btn-outline-primary editable-submit">Modifier</button> &nbsp; &nbsp;
                                <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                            </div>
                        </div>

                        <hr>

                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                  Profession
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row row-cols-1 row-cols-md-3 g-4">
                                        <div class="col" style="width: 100%;">
                                          <div class="card">
                                            <div class="card-body">
                                              
                                              <div class="card-text">
                                                  <table class="contenu">
                                                      <tr>
                                                          <td> Domaine : ---- </td>
                                                          <td> Nom de l'entreprise : ----</td>
                                                      </tr>
                                                      <tr>
                                                        <td> Niveau d'expérience : -----</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Date de début : --/--/----</td>
                                                        <td>Date de fin : --/--/----</td>
                                                    </tr>
                                                  </table>
                                               
                                              </div>
                                            
                                            </div>
                                          </div>
                                        </div>
                                     
                                    
                                      </div>
                                
                                </div>
                              </div>
                            </div>
                           
                           
                          </div>



                    </div>
                </div>


                <div class="card mb-3">
                    <div class="card-header">
                    <b> Diplomes </b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Université/Ecole</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="text" class="form-control" aria-label="university">

                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Niveau</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select">
                                        <option selected>--</option>
                                        <option value="1">Bac +3</option>
                                        <option value="2">Bac +5</option>
                                        <option value="3">Bac +8</option>
                                        <option value="4">CAP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />


                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Nom du diplome</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <input type="text" class="form-control" aria-label="diplomaname">
                            </div>
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Domaine</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <div class="col-auto">

                                    <select class="form-select">
                                        <option selected>--</option>
                                        <option *ngFor="let Domaine of Domaines" value="{{Domaine.name}}">{{Domaine.name}}</option>
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0 text-secondary">Date du diplome</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <br />


                        <div class="row justify-content-center">

                            <div class="col-sm-4 text-secondary ">
                                <button class="btn btn-outline-primary editable-submit">Modifier</button> &nbsp; &nbsp;
                                <button class="btn btn-outline-success editable-submit">Enregistrer</button>
                            </div>
                        </div>

                        <hr>


                        <div class="accordion" id="accordionExample1">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                  Nom diplome
                                </button>
                              </h2>
                              <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <div class="row row-cols-1 row-cols-md-3 g-4">
                                        <div class="col" style="width: 100%;">
                                          <div class="card">
                                            <div class="card-body">
                                              
                                              <div class="card-text">
                                                  <table class="contenu">
                                                      <tr>
                                                          <td> Domaine : ---- </td>
                                                          <td> Université/Ecole : ----</td>
                                                      </tr>
                                                      <tr>
                                                        <td> Niveau : -----</td>
                                                        <td> Date : -----</td>
                                                    </tr>
                                                 
                                                  </table>
                                               
                                              </div>
                                            
                                            </div>
                                          </div>
                                        </div>
                                     
                                    
                                      </div>
                                
                                </div>
                              </div>
                            </div>
                           
                           
                          </div>


                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>