

        <!-- /Breadcrumb -->
<!-- partie I-->
<form [formGroup]="infoForm" (ngSubmit)="updatecandidate(candidate.id,candidate)" class="fadmin">
    <div class="row gutters-sm">
        
        <div class="col-md-4 mb-3">
            <!-- photo de profil -->
            
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img [src]="createImgPath(candidate.picturePath)" alt="Admin" class="rounded-circle" width="150" height="160">
                        <div class="mt-3">
                            <h4>{{firstName}} {{lastName}}</h4>
                            <p class="text-muted font-size-sm">{{email}}</p>                           
                   </div>
                    </div>
                </div>
            </div>
            <!-- fin photo de profil-->

            <!-- debut other-->
            <div class="card mt-3">
                <div class="card h-100">
                    <div class="card-body">                                             
                        <div class="row">                           
                                <h6 class="mb-0 text-secondary"> <i class="fab fa-facebook-square"></i> Facebook</h6>                            
                            <div class="text-secondary" style="margin-top: 10px;">                              
                                <input type="url" class="form-control" placeholder="Lien" name="facebookUrl" formControlName="facebookUrl" [(ngModel)]="candidate.facebookUrl">                           
                            </div>
                        </div>
                        <br/>
                        <div class="row">                           
                                <h6 class="mb-0 text-secondary"> <i class="fab fa-linkedin"></i> LinkedIn</h6>                          
                            <div class="text-secondary" style="margin-top: 10px;">                              
                                <input type="url" class="form-control" placeholder="Lien" name="linkedinUrl" formControlName="linkedinUrl" [(ngModel)]="candidate.linkedinUrl">                              
                            </div>
                        </div>                       
                        <hr style="margin-top: 20px; margin-bottom: 20px;"> 
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0 text-secondary">Permis de conduire</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <div class="col-auto">
                                    <select class="form-select" name="drivingLicenceId" formControlName="drivingLicenceId" [(ngModel)]="candidate.drivingLicenceId">
                                        <option *ngFor="let permis of DrivingLicences" value="{{permis.id}}" >{{permis.type}}</option>                                            
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mb-0 text-secondary">Salaire souhaité</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <div class="col-auto">
                                    <select class="form-select" name="salaryWishId" formControlName="salaryWishId" [(ngModel)]="candidate.salaryWishId">
                                        <option *ngFor="let salaire of Salaires" value="{{salaire.id}}" >{{salaire.salary}}</option>                                            
                                    </select>
                                </div>
                            </div>
                        </div>
                                             
                    </div>
                </div>
            </div>
            <!-- fin other -->
        </div>      
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <b> Informations Personnelles</b>
                </div>
                <div class="card-body">                   
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Date de naissance</h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                            <input type="date" class="form-control" name="birthdayDate" formControlName="birthdayDate" [(ngModel)]="candidate.birthdayDate">
                        </div>
                    </div>
                    <br />                   
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Téléphone</h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                            <input type="text" class="form-control" name="phone" formControlName="phone" [(ngModel)]="candidate.phone">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Genre</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <div class="col-auto">
                                <select class="form-select" name="gender" formControlName="gender" [(ngModel)]="candidate.gender">
                                    <option value="Homme">Homme</option>
                                    <option value="Femme">Femme</option>                                             
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Rue</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" name="street" formControlName="street" [(ngModel)]="candidate.street">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Ville</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="city" formControlName="city" [(ngModel)]="candidate.city">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="Code postal"
                                            name="zipCode" formControlName="zipCode" [(ngModel)]="candidate.zipCode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Pays</h6>
                        </div>
                        <div class="col-sm-4 text-secondary">
                            <div class="col-auto">
                                <select class="form-select" name="countryId" formControlName="countryId" [(ngModel)]="candidate.countryId">
                                    <option *ngFor="let Countrie of Countries" value="{{Countrie.id}}">{{Countrie.name}}</option>                                            
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">CV</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <app-upload-cv (onUploadFinished)="uploadCvFinished($event)"></app-upload-cv>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Photo</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <app-upload-picture (onUploadFinished)="uploadPictureFinished($event)"></app-upload-picture>
                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-center">
                        <div class="col-sm-4 text-secondary bbt">
                            <button class="btn btn-outline-primary editable-submit" type="submit" [disabled]="infoForm.invalid"
                            [ngClass]="{'btn-outline-secondary':infoForm.invalid,'btn-outline-primary':infoForm.valid}">Modifier</button> 
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            
        </div>  
    </div>
</form>
<!-- Fin partie I-->
<!-- Partie II-->
    <div class="row gutters-sm">
       <!-- --------- -->     
             <div class="col-md-4 mb-3">
                <form [formGroup]="langueForm" (ngSubmit)="addCandidateLanguage()" class="fadmin1">
             <div class="card">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 text-secondary">Langues</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                <div class="col-auto">
                                    <select class="form-select" name="languageId" formControlName="languageId" [(ngModel)]="candidateLanguage.languageId">
                                        <option *ngFor="let language of Languages" value="{{language.id}}">{{language.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 text-secondary">Niveau</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                <div class="col-auto">
                                    <select class="form-select" name="languageLevelId" formControlName="languageLevelId" [(ngModel)]="candidateLanguage.languageLevelId">
                                        <option *ngFor="let languageLevel of languageLevels" value="{{languageLevel.id}}"> {{languageLevel.name}} </option>                
                                    </select>
                                </div>
                            </div>
                        </div>        
                        <br/>
                        <div class="row justify-content-center">

                            <div class="col-sm-3 text-secondary ">
                                <button class="btn btn-outline-primary editable-submit bbt1" type="submit" [disabled]="langueForm.invalid"
                                [ngClass]="{'btn-outline-secondary':langueForm.invalid,'btn-outline-primary':langueForm.valid}">Confirmer</button> 
                            </div>
                            
                        </div>
                        <hr>
                        <div class="accordion" id="accordionExample1">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne0">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne0" aria-expanded="false" aria-controls="collapseOne0">
                                Mes Langues
                                </button>
                              </h2>
                              <div id="collapseOne0" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample0">
                                <div class="accordion-body">
                                    <div class="row row-cols-1 row-cols-md-3 g-4">
                                        <div class="col" style="width: 100%;">
                                          <div class="card">
                                            <div class="card-body" *ngFor="let lg of languages; let i=index ">
                                              
                                              <div class="card-text">
                                                  <table class="contenu">                                                   
                                                    <tr>
                                                        <td> Langue : </td>
                                                        <td> {{lg.language.name}}</td>
                                                    </tr>
                                                    <tr>
                                                      <td> Niveau : </td>
                                                      <td> {{lg.languageLevel.name}}</td>
                                                  </tr>
                                               
                                                </table>                                               
                                              </div>                                           
                                            </div>
                                          </div>
                                        </div>                                                                      
                                      </div>
                                </div>
                              </div>
                            </div>                                                     
                          </div>                        
                    </div>
                </div>
            </div>
        </form>
        </div>
            

        <!-- --------- -->

       
        <div class="col-md-8">
            <form [formGroup]="expForm" (ngSubmit)="addCandidateExperience()" class="fadmin2">
            <div class="card mb-3">
                <div class="card-header">
                   <b> Expériences professionnelles </b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Nom de l'entreprise</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <input type="text" class="form-control" name="companyName" formControlName="companyName" [(ngModel)]="candidateExperience.companyName">

                        </div>
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Profession</h6>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="profession" formControlName="profession" [(ngModel)]="candidateExperience.profession">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Domaine</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <div class="col-auto">
                                <select class="form-select" name="domainId" formControlName="domainId" [(ngModel)]="candidateExperience.domainId">
                                    <option *ngFor="let Domaine of Domaines" value="{{Domaine.id}}"> {{Domaine.name}}</option>                                   
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Niveau d'expérience</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <div class="col-auto">
                                <select class="form-select" name="experienceId" formControlName="experienceId" [(ngModel)]="candidateExperience.experienceId">
                                    <option *ngFor="let Experience of Experiences" value="{{Experience.id}}">{{Experience.name}}</option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Date de début</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <input type="date" class="form-control" name="startDate" formControlName="startDate" [(ngModel)]="candidateExperience.startDate">
                        </div>
                        <div class="col-sm-3">
                            <h6 class="mb-0 text-secondary">Date de fin</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <input type="date" class="form-control" name="endDate" formControlName="endDate" [(ngModel)]="candidateExperience.endDate">
                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-center">

                            <div class="col-sm-4 text-secondary bbt">
                                <button class="btn btn-outline-primary editable-submit" type="submit" [disabled]="expForm.invalid"
                                [ngClass]="{'btn-outline-secondary':expForm.invalid,'btn-outline-primary':expForm.valid}">Confirmer</button> 
                            
                            </div>
                        
                    </div>

                    <hr>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Mes Experiences
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col" style="width: 100%;">
                                      <div class="card">
                                        <div class="card-body" *ngFor="let ex of experiences; let i=index ">
                                          
                                          <div class="card-text">
                                              <table class="contenu">
                                                  <tr>
                                                      <td> Domaine : {{ex.domain.name}} </td>
                                                      <td> Nom de l'entreprise : {{ex.companyName}}</td>
                                                  </tr>
                                                  <tr>
                                                    <td> Niveau d'expérience : {{ex.experience.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Date de début : {{ex.startDate}}</td>
                                                    <td>Date de fin : {{ex.endDate}}</td>
                                                </tr>
                                              </table>
                                           
                                          </div>
                                        
                                        </div>
                                      </div>
                                    </div>
                                 
                                
                                  </div>
                            
                            </div>
                          </div>
                        </div>
                       
                       
                      </div>



                </div>
            </div>
        </form>
        </div>
    </div>


<!-- Fin partie II-->

<!-- Partie III-->

<div class="row gutters-sm">

      <div class="col-md-4 mb-3">
 
    <!-- partie vide -->
 </div>
     



 <div class="col-md-8">
     <form [formGroup]="educationForm" (ngSubmit)="addCandidateDiploma()" class="fadmin3">
    <div class="card mb-3">
        <div class="card-header">
        <b> Diplomes </b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0 text-secondary">Université/Ecole</h6>
                </div>
                <div class="col-sm-3 text-secondary">
                    <input type="text" class="form-control" name="university" formControlName="university" [(ngModel)]="candidateDiploma.university">
                </div>
                <div class="col-sm-3">
                    <h6 class="mb-0 text-secondary">Niveau</h6>
                </div>
                <div class="col-sm-3 text-secondary">
                    <div class="col-auto">
                        <select class="form-select" name="educationLevelId" formControlName="educationLevelId" [(ngModel)]="candidateDiploma.educationLevelId">
                            <option *ngFor="let StudiesLevel of StudiesLevels" value="{{StudiesLevel.id}}">{{StudiesLevel.name}}</option>                          
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0 text-secondary">Nom du diplome</h6>
                </div>
                <div class="col-sm-3 text-secondary">
                    <div class="col-auto">
                        <input type="text" class="form-control" name="diploma" formControlName="diploma" [(ngModel)]="candidateDiploma.diploma">
                    </div>
                </div>
                <div class="col-sm-3">
                    <h6 class="mb-0 text-secondary">Domaine</h6>
                </div>
                <div class="col-sm-3 text-secondary">
                    <div class="col-auto">
                        <select class="form-select" name="domainId" formControlName="domainId" [(ngModel)]="candidateDiploma.domainId">
                            <option *ngFor="let Domaine of Domaines" value="{{Domaine.id}}">{{Domaine.name}}</option>                          
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0 text-secondary">Date du diplome</h6>
                </div>
                <div class="col-sm-4 text-secondary">
                    <input type="date" class="form-control" name="date" formControlName="date" [(ngModel)]="candidateDiploma.date">
                </div>
            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col-sm-4 text-secondary bbt">
                    <button class="btn btn-outline-primary editable-submit" type="submit" [disabled]="educationForm.invalid"
                                [ngClass]="{'btn-outline-secondary':educationForm.invalid,'btn-outline-primary':educationForm.valid}">Confirmer</button> 
                            
                </div>
            </div>
            <hr>


            <div class="accordion" id="accordionExample1">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                      Mes Diplomes
                    </button>
                  </h2>
                  <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                    <div class="accordion-body">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col" style="width: 100%;">
                              <div class="card">
                                <div class="card-body" *ngFor="let dip of diplomas; let i=index ">
                                  
                                  <div class="card-text">                                     
                                      <table class="contenu">
                                        <tr>
                                            <td> Domaine : {{dip.domain.name}} </td>
                                            <td> Université/Ecole : {{dip.university}}</td>
                                        </tr>
                                        <tr>
                                          <td> Niveau : {{dip.educationLevel.name}}</td>
                                          <td> Date : {{dip.date}}</td>
                                      </tr>                                  
                                    </table>
                                   
                                  </div>
                                
                                </div>
                              </div>
                            </div>
                         
                        
                          </div>
                    
                    </div>
                  </div>
                </div>
               
               
              </div>


        </div>
    </div>
</form>
 </div>
</div>


<!-- Fin partie III-->