<app-navbar-candidate></app-navbar-candidate>
<div class="container " style="background-color: #E6E5EA; margin-top: 220px;">
   
    <div class="main-body">
        <form>
        <div class="row" style="margin: 50px;">
            <div class="col-sm-3">
                <h5 class="mb-0 text-secondary">Entrez votre lettre de motivation</h5>
            </div>
            <div class="col-sm-9 text-secondary">
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>
        <div class="row justify-content-center" style="margin: 50px;">

            <div class="col-sm-6 text-secondary ">
                <button class="btn btn-outline-primary editable-submit">Enregistrer</button> &nbsp; &nbsp;
                
            </div>
        </div>
    </form>
        
        
    </div>
</div>