<app-navbar-candidate></app-navbar-candidate>
<div class="container " style="background-color: #E6E5EA; margin-top: 220px;">
   
    <div class="main-body">
        <form>
        <div class="row" style="margin: 50px;">
            <div class="col-sm-3">
                <h5 class="mb-0 text-secondary">Entrez votre lettre de motivation</h5>
            </div>
            <div class="col-sm-9 text-secondary">
                <app-upload-coverletter (onUploadFinished)="uploadCvFinished($event)"></app-upload-coverletter>
            </div>
        </div>
        <div class="row justify-content-center" style="margin: 50px;">

            <div class="col-sm-6 text-secondary ">
                <button *ngIf="testcandidat == false" type="submit" [routerLink]="['/profile']" class="btn btn-outline-primary editable-submit">Postuler</button> &nbsp; &nbsp;
                <button *ngIf="testcandidat == true" class="btn btn-outline-primary editable-submit" type="submit" (click)=addCandidature()>Postuler</button> &nbsp; &nbsp;
            </div>
        </div>
    </form>
        
        
    </div>
</div>