<div id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="#">
				<img src="../assets/img/logo.png" alt="" width="150" height="70" class="d-inline-block align-text-top">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#about">A propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#offres">Offres d'emploi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#services">Se connecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#services">S'inscrire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Caroussel-->
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../assets/img/couverture.jpg" height="450" class="d-block w-100" alt="...">
			</div>
		</div>
	</div>
	<!-- about us-->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-justify">
					<h2>A propos</h2>
					<p class="lead"> HRMAPS est un éditeur de solution RH jeune et dynamique, créé à Lyon en 2014,
						autour d’un logiciel de Talent Management. Il a rapidement évolué avec les besoins de ses
						clients,
						vers un SIRH à la carte. Depuis 2018, HRMAPS fait partie du groupe OCTIME, l’un des leaders
						français de la planification et de la gestion des temps.
						HRMAPS est présente à l’international et dispose de 4 sites (France, Russie, Tunisie et Maroc)
						couvrant une vingtaine de pays. La solution HRMAPS gère aujourd’hui plus de 300 000
						collaborateurs dont des secteurs très variés : Retail, Industrie, Service, Médico-social, Banque
						et Assurance, Logistique.
					</p>
				</div>
			</div>
		</div>
	</section>


	<section id="offres" class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Les derniers offres</h2>
					<div class="list-group">
						<div class="card">
							<a href="#"
								class="list-group-item list-group-item-action flex-column align-items-start bg-light">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">List group item heading</h5>
									<small>12/12/2021</small>
								</div>
							</a>
							<div class="card-body">
								<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
									risus varius blandit.</p>
								<small><i class="fas fa-map-marked-alt" style="color: rgb(12, 129, 202);"> </i>Tunis,
									Tunisia</small>

							</div>
						</div> <br />

						<div class="card">
							<a href="#"
								class="list-group-item list-group-item-action flex-column align-items-start bg-light">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">List group item heading</h5>
									<small>12/12/2021</small>
								</div>
							</a>
							<div class="card-body">
								<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
									risus varius blandit.</p>
								<small><i class="fas fa-map-marked-alt" style="color: rgb(12, 129, 202);"> </i>Tunis,
									Tunisia</small>

							</div>
						</div> <br />

						<div class="card">
							<a href="#"
								class="list-group-item list-group-item-action flex-column align-items-start bg-light">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">List group item heading</h5>
									<small>12/12/2021</small>
								</div>
							</a>
							<div class="card-body">
								<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
									risus varius blandit.</p>
								<small><i class="fas fa-map-marked-alt" style="color: rgb(12, 129, 202);"> </i>Tunis,
									Tunisia</small>

							</div>
						</div> <br />

						<div class="card">
							<a href="#"
								class="list-group-item list-group-item-action flex-column align-items-start bg-light">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">List group item heading</h5>
									<small>12/12/2021</small>
								</div>
							</a>
							<div class="card-body">
								<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
									risus varius blandit.</p>
								<small><i class="fas fa-map-marked-alt" style="color: rgb(12, 129, 202);"> </i>Tunis,
									Tunisia</small>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>





	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Contact</h2>
					<div class="container-fluid mt--7">
						<div class="row">
							<div class="col-lg-5">
								<p>hello</p>
							</div>
							<div class="col-lg-7">
								<div class="card shadow border-0">
									<div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428"
										style="height: 400px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 text-white">
					<h3 class="m-0">Contact</h3>

					<div> 53 835 456 </div>
					<div class="col item social">
						<a href="https://www.facebook.com/HRmapsFRA/" target="_blank" class="facebook"><i
								class="fab fa-facebook-square" style="color: gray;"></i></a> &nbsp;
						<a href="https://twitter.com/HRMAPS_SIRH" target="_blank" class="twitter"><i
								class="fab fa-twitter-square" style="color: gray;"></i></a> &nbsp;
						<a href="https://www.youtube.com/channel/UCpU_NJJ_s4SNOBuZ3KdPrCA" target="_blank"
							class="youtube"><i class="fab fa-youtube" style="color: gray;"></i></a> &nbsp;
						<a href="https://www.linkedin.com/company/hrmaps/" target="_blank" class="linkedin"><i
								class="fab fa-linkedin" style="color: gray;"></i></a>

					</div>


				</div>
				<div class="col-lg-5">
					<div class="card shadow border-0">
						<div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428"
							style="height: 300px; width: 300px;"></div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->
	</footer>

</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>