<div id="page-top">

	<!-- Navigation -->
	<app-navbar></app-navbar>
	<!-- Caroussel-->
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../assets/img/couverture.jpg" height="450" class="d-block w-100" alt="...">
			</div>
		</div>
	</div>
	<!-- about us-->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-justify">
					<h2>A propos</h2>
					<p class="lead"> HRMAPS est un éditeur de solution RH jeune et dynamique, créé à Lyon en 2014,
						autour d’un logiciel de Talent Management. Il a rapidement évolué avec les besoins de ses
						clients,
						vers un SIRH à la carte. Depuis 2018, HRMAPS fait partie du groupe OCTIME, l’un des leaders
						français de la planification et de la gestion des temps.
						HRMAPS est présente à l’international et dispose de 4 sites (France, Russie, Tunisie et Maroc)
						couvrant une vingtaine de pays. La solution HRMAPS gère aujourd’hui plus de 300 000
						collaborateurs dont des secteurs très variés : Retail, Industrie, Service, Médico-social, Banque
						et Assurance, Logistique.
					</p>
				</div>
			</div>
		</div>
	</section>


	<section id="offres" class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Les dernières offres</h2>
					<br/>
					<div class="list-group">
						<div class="card">
							<a href="#"
								class="list-group-item list-group-item-action flex-column align-items-start bg-light">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">List group item heading</h5>
									<small>12/12/2021</small>
								</div>
							</a>
							<div class="card-body">
								<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
									risus varius blandit.</p>
								<small><i class="fas fa-map-marked-alt" style="color: rgb(12, 129, 202);"> </i>Tunis,
									Tunisia</small>

							</div>
						</div> <br />

						<div class="card">
							<a href="#"
								class="list-group-item list-group-item-action flex-column align-items-start bg-light">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">List group item heading</h5>
									<small>12/12/2021</small>
								</div>
							</a>
							<div class="card-body">
								<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
									risus varius blandit.</p>
								<small><i class="fas fa-map-marked-alt" style="color: rgb(12, 129, 202);"> </i>Tunis,
									Tunisia</small>

							</div>
						</div> <br />

						<div class="card">
							<a href="#"
								class="list-group-item list-group-item-action flex-column align-items-start bg-light">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">List group item heading</h5>
									<small>12/12/2021</small>
								</div>
							</a>
							<div class="card-body">
								<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
									risus varius blandit.</p>
								<small><i class="fas fa-map-marked-alt" style="color: rgb(12, 129, 202);"> </i>Tunis,
									Tunisia</small>

							</div>
						</div> <br />

						<div class="card">
							<a href="#"
								class="list-group-item list-group-item-action flex-column align-items-start bg-light">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">List group item heading</h5>
									<small>12/12/2021</small>
								</div>
							</a>
							<div class="card-body">
								<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
									risus varius blandit.</p>
								<small><i class="fas fa-map-marked-alt" style="color: rgb(12, 129, 202);"> </i>Tunis,
									Tunisia</small>

							</div>
						</div>

					</div>
					<br/>
					<div class="text-center">
						<a class="small" routerLink="/offres"><h6> Voir toutes les offres </h6></a>
					</div>
					
				</div>
			</div>
		</div>
	</section>





	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Contact</h2>
					<div class="container-fluid mt--7">
						
							<app-map></app-map>
						
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="py-5 bg-dark" style="height: 100px;">
		<div class="container" style="margin-bottom:100px;">
					<div class="row" style=" margin-left: 100px;">
							
							<div class="row text-white">
								<div class="col-md-2">
									Tél : 53 835 456
								</div>
								<div class="col-md-6">
									Adresse :  Immeuble City Center Tour Bureaux, B07-E3 3ème étage, Tunis 1080
								</div>
								<div class="col-md-4">
									<div class="col item social">
										<h4><a href="https://www.facebook.com/HRmapsFRA/" target="_blank" class="facebook"><i
												class="fab fa-facebook-square" style="color: gray;"></i></a> </h4>&nbsp;
												<h4><a href="https://twitter.com/HRMAPS_SIRH" target="_blank" class="twitter"><i
												class="fab fa-twitter-square" style="color: gray;"></i></a> </h4>&nbsp;
												<h4><a href="https://www.youtube.com/channel/UCpU_NJJ_s4SNOBuZ3KdPrCA" target="_blank"
											class="youtube"><i class="fab fa-youtube" style="color: gray;"></i></a> </h4>&nbsp;
											<h4><a href="https://www.linkedin.com/company/hrmaps/" target="_blank" class="linkedin"><i
												class="fab fa-linkedin" style="color: gray;"></i></a></h4>
				
									</div>
								</div>
							</div>
				
					</div>
					<br>
	
		</div>
		<!-- /.container -->
	</footer>

</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>