<app-navbar></app-navbar>
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5 bg-light" style="margin-top: 150px!important;">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Créer un compte</h1>
                        </div>
                        
                        <form [formGroup]="registerForm" class="user" (ngSubmit)="registerUser()">

                            <div class="form-group">
                            
                                <input type="text" formControlName="firstname" placeholder="Prénom" class="form-control" id="firstname" name="firstName" [(ngModel)]="myuser.firstName">
                                <div *ngIf="firstname?.touched && firstname?.invalid" class="text-danger">
                                    <small *ngIf="firstname?.errors?.required" >Champ obligatoire <br></small> 
                                    <small *ngIf="firstname?.errors?.pattern" >Prénom invalide <br></small> 
                                    <small *ngIf="firstname?.errors?.minlength">Prénom doit contenir au moins 2 caractères</small> 
                                </div>
                            </div>
                            <div class="form-group">
                                
                                <input type="text" formControlName="lastname" placeholder="nom" class="form-control" id="lastname" name="lastName" [(ngModel)]="myuser.lastName">
                                <div *ngIf="lastname?.touched && lastname?.invalid" class="text-danger">
                                    <small *ngIf="lastname?.errors?.required">Champ obligatoire <br></small> 
                                    <small *ngIf="lastname?.errors?.pattern">Nom invalide <br></small> 
                                    <small *ngIf="lastname?.errors?.minlength">Nom doit contenir au moins 2 caractères </small> 
                                </div>
                            </div>
                            <div class="form-group">
                             
                                <input type="email" formControlName="email" placeholder="Email" class="form-control" id="mail" name="email" [(ngModel)]="myuser.email">
                                <div  *ngIf="email?.touched && email?.invalid" class="text-danger">
                                    <small *ngIf="email?.errors?.required">Champ obligatoire <br></small> 
                                    <small *ngIf="email?.errors?.email">Email invalide</small>
                                </div>
                            </div>
                            <div class="form-group">
                               
                                <input type="password" formControlName="password" placeholder="Mot de passe" class="form-control" id="password" name="password" [(ngModel)]="myuser.password">
                                <div  *ngIf="password?.touched && password?.invalid" class="text-danger">
                                    <small *ngIf="password?.errors?.required">Champ Obligatoire <br></small> 
                                    <small *ngIf="password?.errors?.minlength">Minimum 8 caractères</small>
                                </div>
                            </div>
                            <div class="form-group">
                               
                                <input type="password" formControlName="password2" placeholder="Confirmer le Mot de passe" class="form-control" id="password2">
                                <div  *ngIf="password2?.touched && (password2?.invalid || password2?.value != password?.value)" class="text-danger">
                                    <small *ngIf="password2?.errors?.required">Champ obligatoire <br></small> 
                                    <small *ngIf="password2?.errors?.minlength">Minimum 8 caractères <br></small>
                                    <small *ngIf="password2?.value != password?.value">Mot de passe non identiques <br></small>
                                </div>
                            
                            </div>
                            <button type="submit" [disabled]="registerForm.invalid || password2?.value != password?.value" [ngClass]="{'btn-secondary':registerForm.invalid || password2?.value != password?.value,'btn-primary':registerForm.valid}" class="btn btn-primary">Enregistrer</button>
                        </form>
                        <hr class="hr">
                       
                        <div class="text-center">
                            <a class="small" href="" routerLink="/login">Vous avez déjà un compte? Se connecter!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



